* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  background: #333840;
  margin: 0;
  display: grid;
  grid-template: 'x' 1fr
    / 1fr;

  font-family: sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  place-self: center;
  background: #cdf;

  pan-zoom,
  label {
    aspect-ratio: 480 / 800;
    max-height: 100vh;
    max-width: 100vw;

    @media (max-aspect-ratio: 480/800) {
      width: 100vw;
    }

    @media (min-aspect-ratio: 480/800) {
      height: calc(100vh - 32px);
    }
  }

  label,
  pan-zoom {
    --flex: 1 1 auto;
  }

  button {
    height: 32px;
    border: none;
    background: #405060;
    color: white;
    font-weight: bold;
  }
}

pan-zoom {
  touch-action: none;
  background-color: #ddd;
}

pan-zoom[src] {
  &~button {
    display: block;
  }

  &+label {
    display: none;
  }
}

pan-zoom:not([src]) {
  display: none;

  &~button {
    display: none;
  }

  &+label {
    background: #cdf;

    display: grid;
    place-content: center;
    font-size: 2em;

    input {
      display: none;
    }
  }
}